@import url(global.css);


header {
  display: flex;
  padding: 20px 32px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

nav {
  display: flex;
}

ul li {
  text-decoration: none;
}