nav {
  display: flex;
  padding: 20px 32px;
  justify-content: space-between;
  align-items: center;

  width: 1280px;
  margin-inline: auto;
 
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 24px;
  
  padding-block: 8px;

}
nav ul li:last-child img {
  height: 40px;
  width: 40px;
  
}

